# Object files
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Static libraries
*.a
*.lib

# Dynamic libraries
*.so
*.dll
*.dylib
*.so.*

# Executables
*.out
*.exe

# Compiled binaries
*.bin

# Debug files
*.dSYM/
*.pdb
*.dmp

# Other potential binary formats
*.elf
*.exe
*.class
