# Object files
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Static libraries
*.a
*.lib

# Dynamic libraries
*.so
*.dll
*.dylib
*.so.*

# Executables
*.out
*.exe

# Compiled binaries
*.bin

# Debug files
*.dSYM/
*.pdb
*.dmp

# Other potential binary formats
*.elf
*.exe
*.class

# To ignore separate files
*q1
*q2
*q3
*q4
*q5
*q6
*q7
*q8
*q9
